body {
    
    font-family: "Lora", serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;  
}

#mainNavbar .nav-link {
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    font-size: 1.0rem;
    padding-right: 50px;
}

#mainNavbar .nav-link:hover {
    color: #AE2B55;
}

#mainNavbar .navbar-brand {
    color: white;
    font-family: "Indie Flower", cursive;
    font-size: 2.5rem;
    padding-left: 100px;

}

#mainNavbar .navbar-brand:hover {
    color: #ffd700;
}

#headingGroup span {
    color: #EA1C2C;
}

#books {
   display:  table-cell;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: red;
    transition: background 500ms;
}

.jumbotron {
    background-color: purple;
    color: white;
}

.footer {
    background-color:#343A40;
    padding: 20px;
    color: white;
    font-display: "Lora", serif;
    font-weight: 100;
    font-size: 1rem;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    }




