body {
    background: whitesmoke;
    font-family: "Lora", serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;  
}

#mainNavbar .nav-link {
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    font-size: 1.0rem;
}

#mainNavbar .nav-link:hover {
    color: #FF00FF;
}

#mainNavbar .navbar-brand {
    color: white;
    font-family: "Indie Flower", cursive;
    font-size: 3.0rem;
}

#mainNavbar .navbar-brand:hover {
    color: #ffd700;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: red;
    transition: background 500ms;
}

.fullcard {
    width: 100px;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin: 5px 5px;
    padding: 0px;
}
.cardContent {
    padding: 0px;
  }
  .cardText {
    margin-bottom: 0px;
  }

  #thumbnail {
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
;
  }

.jumbotron {
    background-color: purple;
    color: white;
}

.footer {
    background-color:#2a2a2a;
    padding: 20px;
    color: white;
    font-display: "Lora", serif;
    font-weight: 100;
    font-size: 1rem;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    }
}




