
@font-face {
  font-family: "Oswald"
  font-family: "Lora"
  src: url("https://fonts.googleapis.com/css?family=Lora|Oswald");
}

body {
	font-family: 'Lora', serif;
  font-size: large;
  margin: 0px;
}

div#tableContainer {
  display: table;
  border-spacing: 0px;
  padding-left:    0px;
  padding-right:   0px;
  margin-top: 30px;
}

div#tableRow {
  display: table-row;
}

section#books {
  display: table-cell;
  background-color: #FFF;
  width: 30%;
  padding: 30px;
  vertical-align: top;
}

section#blog {
  display: table-cell;
  background: #E5E8E8;
  font-size: 105%
  padding: 15px;
  vertical-align: top;
}

section#events {
  display: table-cell;
  background-color: #FFF;
  font-size: 105%;
  width: 30%;
  padding: 15px;
  vertical-align: top;
}


h1 {
  font-family: "Oswald", sans-serif;
}

footer {
  background-color: #fff;
  color:            #000;
  text-align:       center;
  padding:          0px;
  margin: 0px 0px 0px 0px;
  font-size:        75%;
}




/*font-family: 'Lora', serif;*/
/*font-family: 'Oswald', sans-serif;*/
