
@font-face {
  font-family: "Oswald"
  font-family: "Lora"
  font-family: "Permanent+Marker"
  src: url("https://fonts.googleapis.com/css?family=Lora|Oswald|Permanent+Marker");
}

header {
  width: 100%;
  height: 60px;
  background-color: #000;
}

#HeaderLogo {

padding: 10px;
}
nav {
  width: 100%;
  height: 30px;
  background-color: #000;
}

nav a {
  display: block;
  float: right;
  font-family: sans-serif;
  font-size: 13px;
  color: white;
  background-color: #000
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: none;
  margin-right: 20px;
}

body {
	font-family: 'Oswald', serif;
  font-size: large;
  margin: 0px;
}

div#tableContainer {
  display: table;
  border-spacing: 0px;
  padding-left:    0px;
  padding-right:   0px;
  margin-top: 30px;
}

div#tableRow {
  display: table-row;
}

section#books {
  display: table-cell;
  background-color: #FFF;
  width: 30%;
  padding: 30px;
  vertical-align: top;
  position: absolute;
}

section#blog {
  display: table-cell;
  background: #E5E8E8;
  font-size: 105%
  padding: 15px;
  vertical-align: top;
  position: absolute;
}

section#events {
  display: table-cell;
  background-color: #FFF;
  font-size: 105%;
  width: 30%;
  padding: 15px;
  vertical-align: top;
  position: absolute;
}


h1 {
  font-family: "Oswald", sans-serif;
}

footer {
  background-color: #fff;
  color:            #000;
  text-align:       center;
  padding:          0px;
  margin: 0px 0px 0px 0px;
  font-size:        75%;
}




/*font-family: 'Lora', serif;*/
/*font-family: 'Oswald', sans-serif;*/
